@model SignalR_Check.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/Signup.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src='https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.5/dist/umd/popper.min.js'
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
<link rel="icon" href="~/Images/Trackit-profile.png" />
<section id="signup">
    <div class="container-fluid">
        <div class="row flex-column-reverse flex-md-row main-row">
            <div class="col-md-6 col-12 mt-5 mt-md-1" id="col-1">
                <div class="row flex-column" id="vertical">
                    <div class="row">
                        <div class="col-12">
                            <a asp-action="Login" asp-controller="Account"><p id="back"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Login</p></a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h1 id="main-heading">Create Account</h1>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form method="post" asp-action="Register">
                                <label asp-for="Username" class="w-100 mb-1">Username</label>
                                <input asp-for="Username" type="text" class="form-inp w-100 py-2 px-2" id="email"
                                       placeholder="Ahmad Sarwar" maxlength="100">
                                <span asp-validation-for="Username" class="text-danger"></span>
                                <br />
                                <label asp-for="Email" class="w-100 mb-1">Email</label>
                                <input asp-for="Email" type="email" class="form-inp w-100 py-2 px-2" id="email"
                                       placeholder="Ahmad@gmail.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <br />
                                <label asp-for="Password" class="form-label" class="w-100 mb-1 mt-2">Password</label>
                                <input asp-for="Password" type="password" class="form-inp w-100 py-2 px-2" id="Password"
                                       placeholder="Enter a strong password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <br />
                                <label asp-for="ConfirmPassword" class="form-label" class="w-100 mb-1 mt-2">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-inp w-100 py-2 px-2" id="Password"
                                       placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <br />
                                <label asp-for="WebsiteUrl" class="form-label" class="w-100 mb-1 mt-2">Website URL</label>
                                <input asp-for="WebsiteUrl" type="text" class="form-inp w-100 py-2 px-2" id="WebsiteURL"
                                       placeholder="Google.com">
                                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                         
                                <button type="submit" class="w-100 py-2 mt-3" value="Sign In" id="signin-btn">Register</button>
                      
                            </form>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <ul id="menu-s" class="text-center px-0">
                                <li class="me-1">Facebook</li>
                                <li class="mx-1">Twitter</li>
                                <li class="mx-1">LinkedIn</li>
                                <li class="ms-1">Gmail</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12" id="col-2">
                <div class="d-flex flex-column h-100">
                    <div class="text-center mt-md-auto mt-4" id="col-f">
                        <img src="~/Images/Trackit-monochrome.svg" id="logo" class="w-25">
                    </div>
                    <div class="mt-5">
                        <div id="content" class="px-5 py-2 text-center">
                            <p>We got you tracked</p>
                            <h4 class="fw-bold">Made by Students of FCIT</h4>
                        </div>
                    </div>
                    <div class="mt-md-auto mt-4 mb-md-0 mb-5" id="col-l">
                        <ul id="menu" class="text-center">
                            <li class="mx-3">Facebook</li>
                            <li class="mx-3">Twitter</li>
                            <li class="mx-3">LinkedIn</li>
                            <li class="ms-3">Gmail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
